body {
    background: #00aa00;  
    background: -webkit-repeating-linear-gradient(#00aa00, white 100vh, #00aa00 200vh);
    background: -o-repeating-linear-gradient(#00aa00, white 100vh, #00aa00 200vh);
    background: -moz-repeating-linear-gradient(#00aa00, white 100vh, #00aa00 200vh);
    background: repeating-linear-gradient(#00aa00, white 100vh, #00aa00 200vh);
}
